<h1>here,u go </h1>
<!----
<ul>
    <li>item a</li>
    <li>item b</li>
</ul> ----->

<u1>
    {% for todo_item in allitem %}
    <li>{{ todo_item.content }}
        <form action ="/deleteTodo/{{todo_item.id}}/" 
              style="display: inline;" 
              method="post">{% csrf_token %}
            <input type="submit" value="Delete"/>
        </form>
    </li>
 {% endfor %}
</u1>
<form action ="/addTodo/" method="post">{% csrf_token %}
    <input type="text" name="content"/>
    <input type="submit" value="add"/>

</form>